<form id="parag_verso_form" action="" method="POST" style="display:none">
  <span id="span-id">
    #<span id="parag_id">XXX</span>
  </span>
  <span id="span-duration">
    <label for="parag-duration">Durée</label>
    <span id="duration" class="editable" owner="currentParag">0:00</span>
  </span>

  <span id="span-position">
    <label for="parag-position">Position</label>
    <span id="parag-position" class="editable" owner="currentParag">0:00:00</span>
  </span>

  <span id="span-type">
    <label for="parag_type">Type</label>
    <span class="editable" id="parag_type" owner="currentParag">Action</span>
  </span>


  <!-- BRINS -->
  <span id="span-brins">
    <select name="brins" id="list-brins">

    </select>
    <span>Nouveau brin : b</span>
  </span>

</form>
