<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Aide de l'application Script Design</title>
    <link rel="stylesheet" href="_common_/css/all.css">
    <link rel="stylesheet" href="aide/css/aide.css">
    <link rel="stylesheet" href="_common_/css/kramdown.css">
    <style media="screen">

    </style>
  </head>
  <body>
    <h1>Manuel de Script Design</h1>
    <section id="top-boutons">
      <button type="button" id="btn-aide-manuel" onclick="AideAPI.manuel.bind(AideAPI)()"><span class="shortcutletter">@</span> Manuel complet</button>
      <button type="button" id="btn-aide-fenetre" onclick="AideAPI.aideFenetreCourante.bind(AideAPI)()" style="display:none"><span class="shortcutletter">@</span> Aide fenêtre courante</button>
    </section>
    <section id="aide-content"></section>
    <script type="text/javascript" src="aide/js/main.js"></script>
  </body>
</html>
