<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Personnage <%- nom_personnage %></title>
    <link rel="stylesheet" href="personnage/css/personnage.css">
  </head>
  <body>
    [Cette page présente la fiche du personnage <%- nom_personnage %>]
    <section class="fiche_personnage">

    </section>
    <script type="text/javascript" src="personnage/js/main.js"></script>
  </body>
</html>
