<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Les personnages</title>
    <link rel="stylesheet" href="personnages/css/personnages.css">
  </head>
  <body>
    [Cette page présente les personnages du récit.]
    <section id="section-personnages">

    </section>
    <script type="text/javascript" src="personnages/js/main.js"></script>
  </body>
</html>
