<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projets Script-Design</title>
  </head>
  <body>
    <ul id="ul-projets">
      <!-- Ici apparaitra la liste des projets de l'auteur courant -->
    </ul>
    <h1>Ici on mettra tout ce qui concerne le projet dans sa généralité. Ce sera un formulaire géant pour définir tous les paramètres.</h1>
  </body>
</html>
