<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projet</title>
    <link rel="stylesheet" href="projet/css/projet.css">
    <link rel="stylesheet" href="_common_/css/all.css">
    <style media="screen">
      fieldset.normal {
        background-color:white;
        padding: 2em 5em;
      }
      fieldset.normal > div {
        margin-top:0.6em;
        margin-bottom:0.7em;
      }
    </style>
  </head>
  <body>

    <!--
        ********************** LES PANNEAUX ***********************
    -->

    <!-- PANNEAU DATA GÉNÉRALES -->
    <section id="panneau-data" class="projet actif">
      <div id="panneau-data-title" class="panneau-title"></div>
      <div id="panneau-data-contents" class="panneau-contents">
        <fieldset class="normal">
          <div id="title" class="editable"></div>
          <div id="div_authors" class="normal-size">
            <span class="libelle">Un projet de </span><span id="authors" class="value editable"></span>
          </div>
          <div id="div_summary" class="normal-size">
            <span class="libelle">Résumé</span><span id="summary" class="value editable"></span>
          </div>
          <div id="div_created_at" class="normal-size">
            <span class="libelle">Créé le</span><span id="created_at" class="value"></span>
          </div>
          <div id="div_updated_at" class="normal-size">
            <span class="libelle">Modifié le</span><span id="updated_at" class="value"></span>
          </div>
        </fieldset>
      </div>
    </section>

    <!-- PANNEAU SCÉNIER -->
    <section id="panneau-scenier" class="projet">
      <div id="panneau-scenier-title" class="panneau-title">Scénier</div>
      <div id="panneau-scenier-contents" class="panneau-contents"></div>
    </section>
    <!-- PANNEAU PROJET -->
    <section id="panneau-synopsis" class="projet">
      <div id="panneau-synopsis-title" class="panneau-title">Synopsis</div>
      <div id="panneau-synopsis-contents" class="panneau-contents"></div>
    </section>
    <section id="panneau-personnages" class="projet">
      <div id="panneau-personnages-title" class="panneau-title">Personnages</div>
      <div id="panneau-personnages-contents" class="panneau-contents"></div>
    </section>
    <section id="panneau-notes" class="projet">
      <div id="panneau-notes-title" class="panneau-title">Notes</div>
      <div id="panneau-notes-contents" class="panneau-contents"></div>
    </section>
    <section id="panneau-treatment" class="projet">
      <div id="panneau-treatment-title" class="panneau-title">Traitement</div>
      <div id="panneau-treatment-contents" class="panneau-contents"></div>
      <div class="clear"></div>
    </section>
    <section id="panneau-manuscrit" class="projet">
      <div id="panneau-manuscrit-title" class="panneau-title">Manuscrit</div>
      <div id="panneau-manuscrit-contents" class="panneau-contents"></div>
      <div class="clear"></div>
    </section>

    <tabulator id="boutons-panneaux" tabindex="1">
      <button data-tab="data">Données générales</button>
      <button data-tab="personnages">Personnages</button>
      <button data-tab="synopsis">Synopsis</button>
      <button data-tab="scenier">Scénier</button>
      <button data-tab="notes">Notes</button>
      <button data-tab="treatment">Traitement</button>
      <button data-tab="manuscrit">Manuscrit</button>
    </tabulator>

    <tabulator id="operations" class="tools" tabindex="2">
      <picto>🛠</picto>
      <button data-tab="synchronize">Tout synchroniser</button>
      <button data-tab="export">Exporter le panneau</button>
      <button data-tab="print">Imprimer le panneau</button>
      <button data-tab="stats">Afficher les statistiques</button>
      <button data-tab="cutreturn">Découper selon les retours-chariots</button>
      <button data-tab="folderprojet">Ouvrir le dossier du projet</button>
    </tabulator>

    <tabulator id="options-projet" class="tools" tabindex="3">
      <picto>Op.</picto>
      <!-- La liste est construite automatiquement au chargement du projet -->
    </tabulator>

    <!--
      PIED DE PAGE (FIXE)
    -->
    <section id="footer">
      <span id="indicateurs">
        <!-- Indicateurs généraux  -->
        <span id="save-state-indicator" class="saved"></span>
      </span>
      <span id="informations">
        <!-- Pour les informations générales  -->
      </span>
      <span id="footer-log">
        <!-- Pour les messages programme -->
      </span>
    </section>

    <script type="text/javascript" src="projet/js/main.js"></script>
  </body>
</html>
