<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Screen-splash de Script-Design</title>
    <style media="screen">
      body {
        text-align:center;
        margin:4em;
        font-size:17pt;
      }
    </style>
  </head>
  <body>
    <h1>Bienvenue dans Script-Design !</h1>
    <p><em>Script-Design</em> est une application qui vous permet de développer votre histoire de la simple idée jusqu'au manuscrit ou scénario final.</p>
  </body>
</html>
