<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" href="tests/css/tests.css">
  </head>
  <body>
    <div id="retours-tests"></div>
    <script type="text/javascript" src="tests/js/main.js"></script>
  </body>
</html>
