// -------- Les tabulators -----------

tabulator
  // Tabulator façon fenêtre d'outils
  &.tools
    &:not(:focus)
      width       : 40px
      height      : 36px
      text-align  : center
      // Le picto qui contient 🛠
      > picto
        display : block
      > button
        display : none !important
    &:focus
      > picto
        display : none
      width   : 600px
      height  : auto
      > button
        white-space   : nowrap
        width         : 98%
        padding-left  : 1em
        padding-right : 1em

tabulator
  display           : inline-block
  // border            : 1px solid red
  overflow          : hidden
  position          : fixed
  z-index           : 500
  background-color  : white
  opacity           : 0.9
  margin-right      : 4px

  &:not(.tools)
    min-width         : 250px
    min-height        : 28px

  // Les boutons/menus
  > button
    width           : 250px
    line-height     : 28px
    vertical-align  : middle
    text-align      : left
    border          : none
    border-radius   : 0 !important
    padding-left    : 12px !important
    &.downed // pressé sans être encore relâché
      background-color  : #116CD5 //#000055
      color             : white
    &:not(.actif)
      display   : none
    &.actif
      display   : block
      z-index     : 500
      // Pour régler la couleur de l'actif quand on focus dessus :
      // (mais il est défini plus bas)
      // background-color  : #0C42A9
      // color             : white
    // Le span contenant les lettres
    span.tab-letter
      border          : 1px solid
      padding         : 0px 9px 3px
      border-color    : #999 #000 #000 #999
      vertical-align  : top
      margin-right    : 0.8em
      font-size       : 0.7em
    // Le span contenant le menu
    // Note : il est ajouté programmatiquement à l'initialisation
    // Cf. Tabulator::setup
    span.tab-label
      vertical-align  : bottom
    span.smallidx
      font-size       : 7.6pt
      margin-left     : 8px
  // Quand le tabulator n'est pas focussé
  &:not(:focus)
    > button
      // On cache les lettres
      span.tab-letter
        visibility      : hidden

  // Quand on focus dans le tabulateur
  &:focus
    outline         : none // pour ne pas avoir le bord bleu
    height          : auto
    border          : 1px solid blue !important
    padding-top     : 1em
    padding-bottom  : 1em
    > button
      display         : block

      // Le bouton actif est mis en exergue
      &.actif
        background-color  : #0C42A9
        color             : white
