<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projet</title>
  </head>
  <body>
    <h1>Ici on mettra tout ce qui concerne le projet dans sa généralité. Ce sera un formulaire géant pour définir tous les paramètres.</h1>
  </body>
</html>
