<span class="shortcutletter">esc</span> : sortir du champ d'édition
&nbsp;|&nbsp;
<span class="shortcutletter">@</span> : Aide fenêtre courante
&nbsp;|&nbsp;
<span class="shortcutletter">p</span> : préférences de l'application
