<fieldset class="form">
  <legend><span class="shortcutletter">L</span>iste des projets</legend>
  <section class="form">
    <div id="container-project-list">
      <!-- Ici apparaitra la liste des projets de l'auteur courant -->
    </div>
    <div class="buttons">
      <button id="btn-choose-project" class="default" type="submit">Ouvrir le projet</button>
    </div>
  </section>
</fieldset>
